In [17]:
def unique_words(sentence: str):
    print("\n Unique Words Analyzer")
    words = sentence.lower().split()
    unique = set(words)

    print(f"Unique words count: {len(unique)}")
    print(f"Unique words: {unique}")
    return unique
if __name__ == "__main__":
    unique_words("python is easy and python is powerful")

 Unique Words Analyzer
Unique words count: 5
Unique words: {'python', 'powerful', 'is', 'easy', 'and'}

In [18]:
def highest_salary(employees: dict):
    print("\n Highest Salary Finder")

    highest_employee = max(employees, key=employees.get)
    highest_value = employees[highest_employee]

    print(f"Highest Salary: {highest_employee} - {highest_value}")
    return highest_employee, highest_value
if __name__ == "__main__":
  employees = {
        "Ravi": 75000,
        "Anita": 68000,
        "Kiran": 72000
    }
  highest_salary(employees)

 Highest Salary Finder
Highest Salary: Ravi - 75000

In [19]:
def find_max_min(numbers: list):
    print("\n Max & Min Finder")

    max_val = numbers[0]
    min_val = numbers[0]

    for num in numbers:
        if num > max_val:
            max_val = num
        if num < min_val:
            min_val = num

    print(f"List: {numbers}")
    print(f"Max: {max_val}")
    print(f"Min: {min_val}")

    return max_val, min_val
if __name__ == "__main__":
  find_max_min([45, 22, 89, 10, 66])

 Max & Min Finder
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [20]:
def count_expensive_products(prices: list, threshold=1000):
    print("\n Product Price Filter")

    count = sum(1 for price in prices if price > threshold)

    print(f"Products above {threshold}: {count}")
    return count
if __name__ == "__main__":
  count_expensive_products([450, 1200, 899, 1500, 300])

 Product Price Filter
Products above 1000: 2

In [21]:
def attendance_percentage(attendance: list):
    print("\n Attendance Calculator")

    present_count = attendance.count("P")
    total_days = len(attendance)

    percentage = (present_count / total_days) * 100

    print(f"Attendance Percentage: {percentage}")
    return percentage
if __name__ == "__main__":
  attendance_percentage(["P", "P", "A", "P", "P"])

 Attendance Calculator
Attendance Percentage: 80.0

In [22]:
def remove_duplicate_numbers(phone_numbers: list):
    print("\n Phone Number Deduplicator")

    unique_numbers = set(phone_numbers)

    print(f"Unique phone numbers: {unique_numbers}")
    return unique_numbers
if __name__ == "__main__":
   remove_duplicate_numbers([9876543210, 9123456789, 9876543210])

 Phone Number Deduplicator
Unique phone numbers: {9876543210, 9123456789}

In [23]:
def character_frequency(text: str):
    print("\n Character Frequency Counter")

    freq = {}

    for char in text:
        freq[char] = freq.get(char, 0) + 1

    print(freq)
    return freq
if __name__ == "__main__":
    character_frequency("python")

 Character Frequency Counter
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [24]:
def list_to_tuple(data: list):
    print("\n List to Tuple Converter")

    converted = tuple(data)

    print(f"Tuple: {converted}")
    return converted
if __name__ == "__main__":
  list_to_tuple([10, 20, 30])

 List to Tuple Converter
Tuple: (10, 20, 30)

In [25]:
def check_key(dictionary: dict, key):
    print("\n Dictionary Key Checker")

    if key in dictionary:
        print("Employee exists")
        return True
    else:
        print("Employee does not exist")
        return False
if __name__ == "__main__":
  check_key(employees, "Ravi")

 Dictionary Key Checker
Employee exists

In [26]:
def calculate_average(marks: list):
    print("\n Average Marks Calculator")

    average = sum(marks) / len(marks)

    print(f"Average Marks: {average}")
    return average
if __name__ == "__main__":
  calculate_average([70, 80, 75, 65])

 Average Marks Calculator
Average Marks: 72.5